<mat-card>
  <mat-card-header>
    <mat-card-title class="title">New Task</mat-card-title>
  </mat-card-header>


  <mat-card-content>
    <form #task="ngForm" (ngSubmt)="addTask(taskName)">
      <div fxLayout="column" >
        <mat-form-field>
          <input type="text" name="taskName" placeholder="Please enter the task" ngModel matInput>
        </mat-form-field>



        <mat-radio-group [(ngModel)]='priority' [ngModelOptions]="{standalone: true}" fxLayoutGap="10px" class="rtext">
          <p>Priority</p>
          <mat-radio-button value="low">Low</mat-radio-button>
          <mat-radio-button value="medium">Medium</mat-radio-button>
          <mat-radio-button value="high">High</mat-radio-button>
        </mat-radio-group>
      </div>

    <br>
    <br>

      <div fxLayout="column" fxLayoutAlign="space-between">
        <mat-form-field>
          <input name="dueDate" placeholder="Due Date" ngModel matInput [matDatepicker]="mydate">

          <mat-datepicker-toggle matSuffix [for]="mydate"></mat-datepicker-toggle>

          <mat-datepicker #mydate></mat-datepicker>
        </mat-form-field>
      </div>

      <div fxLayouts="row" fxLayoutAlign="end" fxLayoutGap="10px">
        <button type="reset" mat-raised button color="accent">
          <mat-icon>clear</mat-icon> Clear
        </button>


        <div fxLayouts="row"  fxLayoutAlign="space-between">
        <button type="submit" mat-raised-button color="warn"  >
          <mat-icon>note_add</mat-icon>
          <span>Add</span>
        </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>